
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}